<% provide(:title, "About") %>

<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<div class="row">
			<h2>About us</h2>
			<p>This page is created by <a href="https://twitter.com/StanleyCYang">@StanleyCYang</a> as a demonstration of Ruby on Rails.</p>
			<br />
			<h2>Disclaimer</h2>
			<p>This is NOT <a href="http://facebook.com">Facebook</a>, and this is in no way affiliated with <a href="http://facebook.com">Facebook</a>.</p>
			<br />
			<h2>Contact me</h2>
			<p>Contact me at <a href="mailto:stanleyang13@gmail.com">stanleyang13@gmail.com</a> for any inquiries.</p>
		</div>
	</div>
</div>