
<div class="container">
	<div id="login_page" class="col-md-6 col-md-offset-3">
		
		<h2>Log in:</h2>	
		<br />
		<h4>Connect with your friends.</h4>
		<br />
		<%= render 'shared/login_form' %>
		<br />
		<span>New user? <%= link_to "Sign up now!", signup_path %></span>

	</div>
</div>