<% provide(:title, "Edit #{@status.content}") %>

<div class="col-md-6 col-md-offset-3">

	<h3><%= @status.content %></h3>
	<%= form_for(@status, html: {class: 'edit_status_form'}) do |f| %>

		<%= f.text_area :content, placeholder: "Edit your status", autofocus: "true" %>
		<%= f.submit %>

	<% end %>
</div>