@import "bootstrap-sprockets";
@import "bootstrap";

// Define color scheme

$main-color: #3a5795;
$white: #fff;
$light-gray: #edf0f5;

// Font
$font: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;

// Define sizing

$top-size: 70px;


// mixins: A class which contains a combintation of methods from other classes

@mixin box_sizing
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin clean_box
{
	padding: 0;
	margin: 0;	
}

@mixin head_foot
{
	height: $top-size;
	width: 100%;
	position: fixed;
	left: 0;
	z-index: 1;
}
@mixin full_size
{
	width: 100%;
	height: 100%;	
}


header
{
	background-color: $main-color;
	top: 0px;	
	
	a#brand
	{
		color: $white;	
		font-size: 2.4em;
		font-weight: bold;	
		position: relative;
		top: 9px;
		left: 4%;

		&:hover
		{
			color: $white;
		}
	}
	@include head_foot;
}

html, body 
{	
	font-family: $font;		
	>div
	{		
		position: relative;	
		top: $top-size;	
		height: 100%;					
	}	
	@include full_size;
	@include clean_box;
}

footer
{
	bottom: 0;
	text-align: center;
	background-color: $white;
	
	ul
	{
		position: relative;
		top: 16px;		
		list-style: none;
		li
		{
			display: inline-block;
			position: relative;
			margin-right: 20px;
			font-size: 1.1em;
		}
	}
	@include head_foot;
}

.center-block
{
	float: none;
	margin: 0 auto;
}

.debug_dump
{
	position: fixed;
	bottom: 45px;
	width: 100%;
	@include box_sizing;
}

.alert
{
	text-align: center;
	font-weight: bold;
}

nav#logged_in_nav
{
	// width: 400px;
	// border: 1px solid black;
	// color: $white;
	position: absolute;
	right: 4%;
	top: 18px;		

	a.head_nav_links, div.dropdown{
		display: inline-block;	
		
	}

	div.dropdown
	{
		margin-left: 60px;	
		b#header_menu_dropdown
		{			
			font-size: 1.1em;
			padding: 10px;
			&:hover{
				cursor: pointer;
			}	
		}
	}



	a.head_nav_links
	{
		color: $white;
		font-size: 1em;
		padding: 8px;
		border-radius: 3px;
		margin-left: 20px;	
		font-weight: 800;
		&:hover
		{
			background-color: $brand-primary;
			text-decoration: none;

		}
	}
	
	

}

div#home
{	
	background-color: $light-gray;	
	width: 100%;
	height: 100%;	

	div.home-features
	{
		width: 85%; 
		margin: 50px auto;
	}
	
	ul
	{		
		list-style: none;
		@include clean_box;

		li
		{			
			font-size: 1.4em;	
			margin-top: 30px;					
			span
			{
				vertical-align: middle;
				font-size: 3em;
				margin-right: 10px;
			}
		}
	}	
}

div#home_login_form 
{
	width: 400px;
	right: 4%;
	top: 15px;
	position: absolute;
	form#login_form
	{
		input[type="text"], input[type="password"]
		{
			width: 40%;
			display: inline-block;
		}
		input[type="submit"]
		{
			font-size: 1em;					
			padding: 9px 6px;
			border-radius: 3px;
			background-color: $brand-primary;
			border: 0;
		}
		label.checkbox 
		{
			position: absolute;
			top: 24px;
			left: 20px;
			font-size: 0.8em;
			color: $light-gray;
			span
			{
				font-weight: 400;
				position: relative;
				top: 2px;
			}
		}
	}

}


form#new_user, div#login_page > form#login_form
{
	input[type="text"], input[type="password"]
	{
		font-size: 1.3em;
		height: 2.4em;
		margin-bottom: 20px;
	}

	label.checkbox
	{
		position: relative;
		top: -3px;
		left: 20px;
	}
}



